<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danh sach thanh pho</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="js/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="container" style="height: auto">
    <center>
        <h1>City Management</h1>
        <h2>
                        <a href="/createCity">Add New City</a>
        </h2>
    </center>
    <div align="center">

        <table class="table table-striped table-bordered">
            <caption><h2>List of City</h2></caption>
            <tr>
                <th>ID</th>
                <th>CityName</th>
                <th>Country</th>
                <th>Actions</th>
            </tr>
            <th:block th:each="listCity : ${listCity}">
                <tr>
                    <td th:text="${listCity.id}"></td>
                    <td ><a th:text="${listCity.nameCity}" th:href="@{/detailCity/__${listCity.id}__}"></a></td>
                    <td th:text="${listCity.country.nameCountry}"></td>
                    <td>
                        <a th:href="@{/editCity/__${listCity.id}__}"><input class="btn btn-success" size="5px"
                                                                               value="Edit"/></a>
                        <a th:href="@{/deleteCity/__${listCity.id}__}"><input class="btn btn-success" size="5px"
                                                                                 value="Delete"/></a>
                    </td>
                </tr>
            </th:block>
            <div>
                <a th:href="@{'/city'(page=${listCity.number - 1})}" th:if="${listCity.hasPrevious()}">Previous</a>
                <span th:text="${listCity.number + 1}"></span>/<span th:text="${listCity.totalPages}"></span>
                <a th:href="@{'/city'(page=${listCity.number + 1})}" th:if="${listCity.hasNext()}">Next</a>
            </div>


        </table>
    </div>
</div>
</body>
</html>